.projects {
  height: 100vh;
  background-color: #121326;
}

.projectsnav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.projectstitle {
  text-align: center;
  margin-left: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #121326;
  //font-family: "SFM";
  background-color: #f2f2f2;
}

.cover {
  height: 200px;
  width: 350px;
  border-radius: 20px;
  padding: 10px;
}

.covertitle {
  color: #121326;
  //font-family: "SFR";
}

.coverdesc {
  color: #121326;
  //font-family: "SFR";
}

.projectcards {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 14px;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  &:hover {
    //animate
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.projectlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 240px;
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//!////////////////////////////////////////////////////////////////////////////////
//media screen 375
@media screen and (max-width: 375px) {
  .projects {
    height: 100%;
    background-color: #121326;
  }

  .projectsnav {
    //flex horizontal center
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .projectstitle {
      text-align: center;
      margin-left: 0;
      margin-top: 5px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      color: #121326;
      //font-family: "SFM";
      background-color: #f2f2f2;
    }
  }

  .projectlinks {
    margin: 0px;
  }

  .cover {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
  }

  .covertitle {
    color: #121326;
    //font-family: "SFR";
  }

  .coverdesc {
    color: #121326;
    //font-family: "SFR";
  }

  .projectcards {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//!////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 376px) and (max-width: 768px) {
  .projects {
    height: 100%;
    background-color: #121326;
  }

  .projectsnav {
    //flex horizontal center
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .projectstitle {
      text-align: center;
      margin-left: 0;
      margin-top: 5px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      color: #121326;
      //font-family: "SFM";
      background-color: #f2f2f2;
    }
  }

  .projectlinks {
    margin: 0px;
  }

  .cover {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
  }

  .covertitle {
    color: #121326;
    //font-family: "SFR";
  }

  .coverdesc {
    color: #121326;
    //font-family: "SFR";
  }

  .projectcards {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//!////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects {
    height: 100%;
    background-color: #121326;
  }

  .projectsnav {
    //flex horizontal center
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .projectstitle {
      text-align: center;
      margin-left: 0;
      margin-top: 5px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      color: #121326;
      //font-family: "SFM";
      background-color: #f2f2f2;
    }
  }

  .projectlinks {
    margin: 0px;
    margin-top: 0;
  }

  .cover {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
  }

  .covertitle {
    color: #121326;
    //font-family: "SFR";
  }

  .coverdesc {
    color: #121326;
    //font-family: "SFR";
  }

  .projectcards {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//media screen desktop
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .projects {
    height: 100vh;
    background-color: #121326;
  }

  .projectsnav {
    //flex horizontal center
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .projectstitle {
      text-align: center;
      margin-left: 0;
      margin-top: 5px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      color: #121326;
      //font-family: "SFM";
      background-color: #f2f2f2;
    }
  }

  .projectlinks {
    margin: 0px;
    //flex vertical center
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .cover {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
  }

  .covertitle {
    color: #121326;
    //font-family: "SFR";
  }

  .coverdesc {
    color: #121326;
    //font-family: "SFR";
  }

  .projectcards {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 4px 28px -1px rgba(0, 0, 0, 0.7);
  }
}
