.resume {
  height: 100vh;
  background-color: #f2f2f2;
}

.resumenav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.resumetitle {
  text-align: center;
  margin-left: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #f2f2f2;
  //font-family: "SFM";
  background-color: #121326;
}

.resumeparent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  height: 95vh;
}

.resumecontent {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-end;
  width: 400px;
}

.resumecover {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 200px;
  margin-right: 40px;
}

.buttondownload {
  //font-family: "SFM";
  background-color: #348abf;
  border: none;
  border-radius: 2px;
  color: #f2f2f2;
  margin-top: 55px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.43);

  &:hover {
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
}

@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.resumetitulocontent {
  color: #1e4359;
  //font-family: "SFR";
}

.resumecontentt {
  color: #1e4359;
  //font-family: "SFR";
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//media screen 375px
@media screen and (max-width: 375px) {
  .resume {
    height: 100vh;
    background-color: #f2f2f2;
  }

  .resumenav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .resumetitle {
    text-align: center;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #f2f2f2;
    //font-family: "SFM";
    background-color: #121326;
  }

  .resumeparent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    height: 95vh;
  }

  .resumecontent {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;
    width: 300px;
  }

  .resumecover {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    img {
      width: 100%;
      margin-top: 10px;
      padding: 20px;
    }
  }

  .buttondownload {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .resumecontentt {
    margin-top: 10px;
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//media screen tablet 768px
@media screen and (min-width: 376px) and (max-width: 768px) {
  .resume {
    height: 100vh;
    background-color: #f2f2f2;
  }

  .resumenav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .resumetitle {
    text-align: center;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #f2f2f2;
    //font-family: "SFM";
    background-color: #121326;
  }

  .resumeparent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    height: 95vh;
  }

  .resumecontent {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;
    width: 300px;
  }

  .resumecover {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 70%;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    img {
      margin-top: 10px;
      padding: 0px;
      width: 100%;
    }
  }

  .buttondownload {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .resumecontentt {
    margin-top: 10px;
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .resume {
    height: 100vh;
    background-color: #f2f2f2;
  }

  .resumenav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .resumetitle {
    text-align: center;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #f2f2f2;
    //font-family: "SFM";
    background-color: #121326;
  }

  .resumeparent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    height: 95vh;
  }

  .resumecontent {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;
    width: 300px;
  }

  .resumecover {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 70%;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    img {
      margin-top: 10px;
      padding: 0px;
      width: 100%;
    }
  }

  .buttondownload {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .resumecontentt {
    margin-top: 10px;
  }
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media screen and (min-width: 1025px) and (max-width: 1224px) {
  .resume {
    height: 100vh;
    background-color: #f2f2f2;
  }

  .resumenav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .resumetitle {
    text-align: center;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #f2f2f2;
    //font-family: "SFM";
    background-color: #121326;
  }

  .resumeparent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    height: 95vh;
  }

  .resumecontent {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;
    width: 300px;
  }

  .resumecover {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 50%;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
}
