@use "about";
@use "projects";
@use "resume";
@use "contact";
@use "footer";
@use "navbar";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  //box sizing
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
